.link-colunas{
    background-color: #FFC100;
}
.link-colunas a{
    color: #fff !important;
}
/* COTAÇÃO DO DÓLAR*/
.numbers{
    font-weight: 400;
    letter-spacing: .6px;
    color: #fff;
}
.neg {
    background-color: #d5150b;    
}
.pos {
    background-color: #20c634;
}
.neutro{
    background: rgb(204, 204, 204);
}
@media (max-width: 767px){
    .link-colunas{
        padding-left: 5px !important;
    }
    .top-social {
        margin-top: 20px !important;
    }
}
